3rdparties/
video-tagging/video-tagging/x64/
video-tagging/video-tagging/video-tagging.vcxproj.user
video-tagging/video-tagging/Debug/
video-tagging/x64/
video-tagging/ipch/
video-tagging/.vs/
video-tagging/video-tagging.VC.db
video-tagging/video-tagging.VC.VC.opendb
